.footer {
    background-color: rgb(209, 0, 0);
    padding: 0.5%;
}

#icono1 {
    width: 2.5%;
    margin-left: 23.75%;
}

#icono2 {
    width: 2.5%;
    margin-left: 22.5%;
}

#icono3 {
    width: 2.5%;
    margin-left: 22.5%;
}