.cuerpo {
    min-height: 500px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.800);
}

.producto {
    background-color: white;
    border: 2px solid red;
    cursor: pointer;
}