<app-encabezado-principal></app-encabezado-principal>

<div class="container cajaFormulario">
  <h1 class="text-center">Inicio de sesión</h1>
  <br>
  <form (ngSubmit)="tryLogin(usuario.email, usuario.password)" #f="ngForm">
    <h4>Email:</h4>
    <input type="email" placeholder="Ingresa tu email" name="email" class="form-control"  [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" ngDefaultControl pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.([a-zA-Z]{2,4})+$" #email="ngModel" required >
    <span *ngIf="email.value != '' && email.invalid"><h4 style="color: red">Email no válido, comprueba el formato</h4></span>
    <span *ngIf="email.value == '' "><h4 style="color: red">Campo obligatorio</h4></span>
    <br>
    <h4>Contraseña:</h4>
    <input type="password" placeholder="Ingresa una contraseña" name="password" class="form-control" minlength=8 [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}" ngDefaultControl #password="ngModel" required >
    <span *ngIf="password.value != '' && password.invalid"><h4 style="color: red">Contraseña no válida. Debe tener 8 caracteres mínimo</h4></span>
    <span *ngIf="password.value == '' "><h4 style="color: red">Campo obligatorio</h4></span>
    <br>
    <button id="botonInicio" class="btn btn-success mt-3" type="submit" [disabled]="f.invalid"><strong>Iniciar</strong></button>
  </form>
</div>