.fondo {
    background-color: rgba(0, 0, 0, 0.800);
}

.cajaProducto {
    background-color: white;
    border-radius: 20px;
}

#titulo {
    margin-top: -2%;
    font-size: 50px;
}

.Pujar {
    width: 40%;
    padding-top: 0.65%;
    padding-bottom: 0.65%;
    font-size: 20px;
}

#botonPujar {
    width: 20%;
    border: 2px solid black;
    font-size: 20px;
}

#botonComprarYa {
    width: 37%;
    border: 2px solid black;
    font-size: 20px;
    float: right;
}

.infoProducto {
    width: 40%;
}

.imagenProducto {
    width: 50%;
    min-height: 300px;
    margin-right: 5%;
    padding-bottom: 1%;
    background-color: red;
    float: right;
}