<app-encabezado></app-encabezado>

<div class = "fondo p-4">
  <div class="container cajaProducto bg-light p-4">
    
    <div class="float-right mr-3" (click)="ModificarProducto(productoPagina)" data-toggle="modal" data-target="#exampleModal" *ngIf="(productoPagina.emailSubastador == usuarioActivoEmail) && (productoPagina.pujaActual == productoPagina.precioSalida)">
        <i class="fas fa-pencil-alt"></i>
    </div>
    <div id="titulo">{{productoPagina.nombre}}</div>
    <br>
    <div class="imagenProducto">
      IMAGEN
    </div>
    <div class="infoProducto">
      <h4>Categoría: {{productoPagina.categoria}}</h4>
      <br>
      <h4>Subastador: {{productoPagina.subastador}}</h4>
      <br>
      <h4>Precio de salida: {{productoPagina.precioSalida}} $</h4>
      <br>
      <h4>Puja actual: {{productoPagina.pujaActual}} $</h4>
      <br>
      <h4>Último pujador: {{productoPagina.ultimoPujador}}</h4>
      <br>
      <h4 *ngIf = "productoPagina.precioCompraYa != ''">Precio para Comprar ya: {{productoPagina.precioCompraYa}} $</h4>
      <br>
      <h1>{{productoPagina.tiempoFin}}</h1>
      <br>
    </div>
    <input type="number" placeholder="Ingresa tu puja" name="precioNuevaPuja" class="Pujar float-left" *ngIf="productoPagina.emailSubastador != usuarioActivoEmail" [(ngModel)]="nuevaPuja">
    <button id="botonPujar" class="btn btn-success ml-2" (click)="cambiarPuja(nuevaPuja)"type="button" *ngIf="productoPagina.emailSubastador != usuarioActivoEmail">Pujar</button>
    <button id="botonComprarYa" class="btn btn-success" (click)="comprarYa(productoPagina)"type="button" *ngIf="(productoPagina.emailSubastador != usuarioActivoEmail) && (productoPagina.precioCompraYa != '')">Comprar ya</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modificar: {{modificarProducto.nombre}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class = "container">

              <form (ngSubmit) = "AgregarProductoModificado()">
                  <input type="text" placeholder="Ingresa el nuevo nombre del producto" name="nombre" class="form-control  mt-4" [(ngModel)]="modificarProducto.nombre">
                  <select id="categoria" placeholder="Ingresa la nueva categoria del producto" name="categoria" class="form-control mt-4" [(ngModel)]="modificarProducto.categoria">
                    <option value="Vehiculos">Vehiculos</option>
                    <option value="Edificios">Edificios</option>
                    <option value="Deporte">Deporte</option>
                    <option value="Juegos">Juegos</option>
                  </select>
                  <input type="number" placeholder="Ingresa el nuevo precio de salida del producto" name="precioSalida" class="form-control  mt-4" [(ngModel)]="modificarProducto.precioSalida">
                  <input type="number" placeholder="Ingresa el nuevo precio de CompraYa del producto" name="precioCompraYa" class="form-control  mt-4" [(ngModel)]="modificarProducto.precioCompraYa">
                  <button class="btn btn-warning mt-4" type="submit">Guardar cambios</button>
              </form>
            
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

