<app-encabezado></app-encabezado>
<div class = "cuerpo pt-5">
    <div class="cajaProductos">
        <div class="row p-2">
            <div (click)="redirigirProducto(producto)" class="alert producto col-lg-4 col-md-4 col-sm-6 col-xs-12" role="alert" *ngFor="let producto of productos | filtro: filtroHome">
                <h2 class="mt-1 mb-3">{{producto.nombre}}</h2>
                <h6 class="my-3">Categoría: {{producto.categoria}}</h6>
                <h6 class="my-3">Precio de salida: {{producto.precioSalida}} €</h6>
                <h6 class="my-3">Puja actual: {{producto.pujaActual}} €</h6>
                <h6 class="my-3">Último pujador: {{producto.ultimoPujador}}</h6>
                <h6 class="float-left" *ngIf = "producto.precioCompraYa != ''">Precio para Comprar ya: {{producto.precioCompraYa}} €</h6>
                <br>
                <h4 class="my-2">{{producto.tiempoFin}}</h4>
            </div>
        </div>
    </div>
</div>