.cajaFormulario {
    width: 60%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    border-radius: 10px;
}

#botonInicio {
    width: 50%;
    margin-left: 25%;
}