<app-encabezado-principal></app-encabezado-principal>

<div class="container-fluid cajaIntroduccion">
    <br>
    <div class="jumbotron text-center">
        <h1>The Auctioneer</h1>
        <p>Tu sitio Web favorito para realizar subastas Online</p> 
    </div>
        
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Gana Dinero</h3>
                <p>Gana dinero con eso que ya no usas</p>
                <p>Vende tus productos al mejor postor</p>
            </div>
            <div class="col-sm-4">
                <h3>Adquiere Productos</h3>
                <p>Consigue ese objeto que tanto anhelas</p>
                <p>Puja en las mejores subastas Online</p>
            </div>
            <div class="col-sm-4">
                <h3>Y Mucho más...</h3>        
                <p>Todo esto y mucho más es posible con </p>
                <p>con The Auctioneer. Regístrate para descubrirlo.</p>
            </div>
        </div>
    </div>
</div>