.cajaFormulario {
    width: 60%;
    margin-top: 1.5%;
    margin-bottom: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    border-radius: 10px;
}

#botonInicio {
    width: 50%;
    margin-left: 25%;
}


.datos1 {
    width: 45%;
}

@media screen and (max-width:500px)
{
    .cajaFormulario{
        width: 90%;
        margin-left: 1em;
        margin-top: 1em;
    }

    #botonInicio{
        margin-bottom: 2em;
    }
}
