.encabezado {
    height: 120px;
    background-color: rgb(189, 39, 39);
}

.logo {
    height: 100%;
    margin-left: 43.5%;
}

#btn1 {
    margin-top: 2.6%;
    margin-left: 33%;
    color: white;
    border: 2px solid white;
    position: absolute;
}

#btn2 {
    margin-top: 2.6%;
    margin-left: 22%;
    color: white;
    border: 2px solid white;
    position: absolute;
}

@media screen and (max-width:1280px)
{
    #btn1 {
        margin-left: 25%;
        
    }
    #btn2 {
        margin-left: 11%;
        
    }
}

@media screen and (max-width:760px)
{

    .logo {
        margin-left: 38%;
    }
    #btn1 {
        margin-left: 5%;
        
    }
    
    #btn2 {
        margin-top: 9%;
        margin-left: 5%;
    }
}

@media screen and (max-width:500px)
{

    .logo {
        margin-left: 10%;
    }
    #btn1 {
        margin-left: 5%;
        
    }
    
    #btn2 {
        margin-top: 12%;
        margin-left: 5%;
    }
}

@media screen and (max-width:360px)
{
    .logo {
        margin-left: 0%;
    }
    
    #btn1 {
        margin-left: 0%;
        
    }
    
    #btn2 {
        margin-top: 17%;
        margin-left: 0%;
    }
}