.encabezado {
    height: 120px;
    background-color: rgb(189, 39, 39);
}

.logo {
    height: 100%;
    margin-left: 43.5%;
}

#btn1 {
    margin-top: 2.6%;
    margin-left: 33%;
    color: white;
    border: 2px solid white;
    position: absolute;
}

#btn2 {
    margin-top: 2.6%;
    margin-left: 22%;
    color: white;
    border: 2px solid white;
    position: absolute;
}