
<div class="encabezado">
  <img class= "logo" [src] = "logotipo"/>
  <button type="button" id="btn1" class="btn" (click) = "logout()"><strong>Cerrar sesión</strong></button>
</div>
<nav class="navbar navbar-expand-lg navbar navbar-dark barraNavegacion">
    <a class="navbar-brand" [routerLink]="['/home']"><strong>Home</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item opcionNav">
          <a class="nav-link" (click)="redirigirMisPujas()"><strong>Mis pujas</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item opcionNav">
          <a class="nav-link" (click)="redirigirPerfil()"><strong>Perfil</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/subida']"><strong>Subir producto</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/conocenos']"><strong>Conócenos</strong></a>
        </li>
      </ul>
    </div>
  </nav>
